* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $color-white;
}

h1 {
  font-size: $xxxx-large;
  font-weight: bold;
}

h2 {
  font-size: $xxx-large;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: $xx-large;
  font-weight: bold;
}

h4 {
  font-size: $x-large;
}

ul, li {
  list-style-type: none;
}

a, u {
  text-decoration: none;
  color: black;
}

textarea, input {
  border: none;
}

#root {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.home, .portfolio, .contact {
  margin: 5rem 0;
}

.anchor{
  display: block;
}
