@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$font-primary: 'Lato', sans-serif;

$xx-small: 1.422rem;
$x-small: 1.264rem;
$small: 1.124rem;
$medium: 1.6rem;
$large: 1.8rem;
$x-large: 2.025rem;
$xx-large: 2.278rem;
$xxx-large: 2.563rem;
$xxxx-large: 2.883rem;

$color-white: #ffff;
$color-black: #000;
$color-dark-blue: #2F3EA0;
$color-grey: lightgrey;