.portfolio {
  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: 960px) {
      justify-content: space-between;
    }
  }
}