.form {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;

    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      div, textarea, input {
        border: 0.1rem solid $color-black;
        margin-bottom: 2rem;
        width: 100%;
      }

      input {
          padding: 2rem 1rem;
          line-height: 1.8rem;
          display: inline-block;
      }

      textarea {
        padding: 1rem;
        height: 6rem;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.4rem;
      }
    }
  }
}